<div class="container-fluid fadeIn animated">
    
    <div class="row">
        <div class="col-md-3">
            
            <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Survey details</h3>
                        <br>

                        
                        <div class="alert alert-danger" *ngIf="invalideMsg.length>0">
                            <ul>
                                <li *ngFor="let msg of invalideMsg">{{msg}} </li>
                            </ul>
                        </div>
                        
                        
                        <form class="form-group" action="" method="POST" role="form">

                            <div class="form-group">
                                <label for="name">Survey Name*</label>
                                <input [(ngModel)]="name" class="form-control" placeholder="..." type="text" name="name" required>
                            </div>

                            <div class="form-group">
                                <label for="desc">Survey Description</label>
                                <input [(ngModel)]="desc" class="form-control" placeholder="..." type="text" name="desc" value="">
                            </div>

                            <form #myForm="ngForm" novalidate>
                                <label for="mybegindate">Begin date*</label>
                                <my-date-picker name="mybegindate" [options]="beginDatePicker"
                                                [(ngModel)]="beginDate" required></my-date-picker>

                                <label for="myenddate">End date*</label>
                                <my-date-picker name="myenddate" [options]="endDatePicker"
                                                [(ngModel)]="endDate" required></my-date-picker>
                            </form>
                                                
                            <br>
                                                                                
                            <div class="form-group">
                            
                                <label for="team">Team*</label>
                                <select [(ngModel)]="target_team_id" name="target_team_id" id="input1" class="form-control" required="required">
                                    <option value="" selected disabled>Select a team</option>
                                    <ng-container *ngFor="let team of user?.teams">
                                        <option *ngIf="team?.leader"
                                            value="{{team?.team?._id}}" >  
                                            {{team?.team?.team_name}}
                                        </option>
                                    </ng-container>

                                </select>
                                
                            </div>
                            
                        
                        
                        
                        
                        <br>
                        <p>* Required field.</p>
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-sm btn-default">Preview</button>
                            <button (click)="submitSurvey()" type="button" class="btn btn-sm btn-default">Submit</button>
                        </div>
                        </form>
                        
                        
                  </div>
            </div>
            
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Survey editor</h3>
                        <!--
                        
                        <dynamic-survey [questions]="questions"></dynamic-survey>
                        -->
                        <div class="row">
                            <app-editor-survey [json]="questions" (surveySaved)="onSurveySaved($event)" ></app-editor-survey>
                        </div>
                        
                  </div>
            </div>
        </div>
    </div>
</div>
