<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-4">
            
            <div class="panel panel-default">
                    <div class="panel-body">
                        <h3><b>SURVEY OPTIONS</b></h3>
                        <br>
                        <form class="form-group" action="" method="POST" role="form">
                            <p>Choose a date</p>
                            <div class="row">
                                
                            
                            <div class="col-xs-6">
                                <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Date</span>
                                
                                <select name="" id="input1/(\w+)/\u\1/g" class="form-control" required="required">
                                    <option value=""></option>
                                    <option value="">21/22/2017</option>
                                </select>
                                
                            </div>
                                
                            </div>  
                        
                            <div class="col-xs-6">
                                <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Date</span>
                                
                                <select name="" id="input1/(\w+)/\u\1/g" class="form-control" required="required">
                                    <option value=""></option>
                                    <option value="">21/22/2017</option>
                                </select>
                                
                            </div>
                            
                            </div>
                            </div>
                            <br>
                            <p>Select a team</p>                                                    
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Team</span>
                                
                                <select name="" id="input1/(\w+)/\u\1/g" class="form-control" required="required">
                                    <option value=""></option>
                                    <option value="">21/22/2017</option>
                                </select>
                                
                            </div>
                            
                        
                        </form>
                        
                        <br>
                        <p>Choose a question type to add.</p>
                        <div class="dropdown">
                            <button class="btn btn-sm btn-inverse dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Question/Answer</a></li>
                                <li><a href="#">Star Rating</a></li>
                            </ul>
                        </div>
                        <br><br>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                60%
                            </div>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-default">Preview</button>
                            <button type="button" class="btn btn-sm btn-default">Sumbit</button>
                        </div>
                        
                        
                  </div>
            </div>
            
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                  <div class="panel-heading">
                        <h3>GENERATED SURVEY</h3>
                        
                  </div>
                
                    <div class="panel-body">
                        
                        
                        <form action="" method="POST" role="form">
                            
                            <div class="form-group">
                                <label for="">Question 1</label>
                                <input type="text" class="form-control" id="" placeholder="Type your question here...">
                            </div>

                            <div class="form-group">
                                <label for="">Question 2</label>
                                <input type="text" class="form-control" id="" placeholder="Type your question here...">
                            </div>

                            <div class="form-group">
                                <label for="">Question 3</label>
                                <input type="text" class="form-control" id="" placeholder="Type your question here...">
                            </div>
                        </form>
                        
                  </div>
            </div>
        </div>
    </div>
        
</div>
