
<div class="message-box">

  <div class="message" *ngFor="let message of team.messages">
    <div class="message-bubble" >
      {{message.text}}
    </div>
    <p>@{{message.username}}</p>
  </div>


  <div class="message" *ngFor="let message of messages">
    <div class="message-bubble" >
      {{message.text}}
    </div>
    <p>@{{message.username}}</p>
  </div>  
</div>

<div class="input-group">
<input [(ngModel)]="message"  type="text" class="input-box form-control" placeholder="Type here...">
      <span class="input-group-btn">
        <button (click)="sendMessage()" class="send btn btn-secondary" type="button">
          <i class="fa fa-chevron-right"></i>
        </button>
      </span>
</div>
