.panel-fill{
    min-height: 550px;
    height: 100%;
}

.panel-files{
    height: 420px;
    background-color: #f9f9f9;
    margin: 0;
    padding: 10px;
    border: 0;
    position: relative;
}

.empty{
    height: 100%;
    width: 100%;
    position: absolute;
    transform: translateY(30%);
    text-align: center;
    color: lightgrey;
}