<h4>Upcoming surveys 
  <span class="fadeInUp animated" *ngIf="upcomingsurveys?.length>0">
    ({{upcomingsurveys?.length}})
  </span>
</h4>
<br>


<div *ngIf="upcomingsurveys==null">
  <div class="loading">
    fetching data...
  </div>
</div>

<div class="fadeInUp animated" *ngIf="upcomingsurveys!=null">

  <div class="survey-list" *ngIf="upcomingsurveys.length>0">
    <div class="survey" *ngFor="let survey of upcomingsurveys">
      <h4 class="survey-name">{{survey.name}}</h4>
      <div class="survey-date">
        {{survey.begindate}}
      </div>
      <div class="survey-teams" *ngFor="let team of survey.team_id">
        {{team.team_name}} 
      </div>
      <br>
      <div class="survey-creator">
        @{{survey.owner_id.username}}  
      </div>
    </div>
    <p>Click <a [routerLink]="['../../dashboard/survey/create']"><b>here</b></a> to see a preview of these surveys.</p>    
  </div>

  <div *ngIf="upcomingsurveys.length==0">
    <div class="alert alert-info">
      <h4><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <b>You should probably know</b></h4>
      <p>
        No Survey have been created for the future
      </p>  
    </div>
    <p>Click <a [routerLink]="['../../dashboard/survey/create']"><b>here</b></a> to create one.</p>    
  </div>

</div>
