<div *ngIf="teams" class="container-fluid fadeIn animated">
    
    <div class="row fadeIn animated">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="chat-group-list">
                        <h4>Teams list</h4>
                        <div *ngFor="let team of teams; let i = index" class="chat-group" (click)="openChatBox(i)">
                            <img src="assets/images/profile.png" alt="">
                            <p class="team-name">{{team.team.team_name}}</p>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        <div class="col-sm-8" id="chat-box-list" >
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Chat box</h4>
                    <div class="chat-box">
                        <chat-component></chat-component>   
                    </div>
                </div>
            </div>
        </div>    
    
    </div>
</div>
