/*Added by hassen*/
a, u {
    text-decoration: none;
}

.team-image{
    text-align: center;
}
.team-image img{
    padding: 10px;
    border: 1px solid lightgrey;
    width: 60%;
    border-radius: 50%;
}

.team-info{
    margin-left:20px; 
}

.profiles-row{
    min-height: 162px;
    overflow-x: scroll;
    text-align: left;
    padding-left:0; 
    white-space: nowrap;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
}
.profile{
    padding: 5px;
    display: inline-block ; 
    position: relative; 
}

.profile a{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    color: white;
}

.img-leader{
    border-color: lightgreen;
}

.img-member{
    border-color: skyblue;
}

.img-member, .img-leader{
    border-radius: 5px;
    border-top-width: 5px;
    border-style: solid;
    background: #30cbd7;
}


.profiles-row::-webkit-scrollbar-track
{
	border-radius: 0;
	background-color: rgba(0, 0, 0, 0);
}

.profiles-row::-webkit-scrollbar
{
    height: 5px;
	width: 5px;
	background-color: rgba(0, 0, 0, 0);
}

.profiles-row::-webkit-scrollbar-thumb
{
	border-radius: 0px;
	background-color: #AAA;
}

#loading-team{
    text-align: center;
    position: relative;
    line-height: 400px;
}

.teams-list{
    padding: 0;
}

.teams-list li{
    list-style: none;
    padding: 5px 0 5px 0;
    padding-left: 10px; 
}

.teams-list li a:hover{
    color: blue !important;
}

.teams-list li:hover{
    cursor: pointer;
}

.panel{
    overflow: hidden;
}