/*Added by hassen*/

.team-image{
    float: left;
}

.team-info{
    float: left;
    margin-left:20px; 
}

.profiles-row{
    overflow-x: scroll;
    text-align: center;
    padding-left:0; 
    white-space: nowrap;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
}
.profile{
    padding: 5px;
    display: inline-block ;  
}

.img-leader{
    border-color: lightgreen;
}

.img-member{
    border-color: skyblue;
}

.img-member, .img-leader{
    border-radius: 5px;
    border-top-width: 5px;
    border-style: solid;
    background: #f9f9f9;
}


.profiles-row::-webkit-scrollbar-track
{
	border-radius: 0;
	background-color: #F5F5F5;
}

.profiles-row::-webkit-scrollbar
{
    height: 3px;
	width: 2px;
	background-color: #F5F5F5;
}

.profiles-row::-webkit-scrollbar-thumb
{
	border-radius: 0px;
	background-color: #AAA;
}

#loading-team{
    text-align: center;
    position: relative;
    line-height: 400px;
}

