<link rel="stylesheet" src="teams.css">
<link rel="stylesheet" src="teams.comp.css">

<div class="container-fluid">

    <div class="row">

        
        <div class="col-md-12">

            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle btn-block" type="button" data-toggle="dropdown">Select a team
                <span class="caret"></span></button>
                <ul class="dropdown-menu btn-block">
                    <li *ngFor="let team of teams; let i = index" >
                        <a (click)="selectTeam(i)">{{team?.team.team_name}}</a></li>
                    <hr>
                    <li><a href="#"><span class="glyphicon glyphicon-plus"></span> Create a new team</a></li>
                </ul>
            </div>

        </div>
    </div>
    <br>
    <div *ngIf="!team">
        <div id="loading-team">
            <img src="assets/images/64x64/Preloader_3.gif" alt="">
        </div>
    </div>
    <div *ngIf="team">
    <div class="row" >
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
    
                    <div class="team-image">
                        <img src="assets/images/team.jpg" alt="This team's image" class="thumbnail" width="100px" height="100px"/>
                    </div>        

                    <div class="team-info">
                        <h3><b>{{team?.team_name}}</b></h3>
                        <h5>{{team?.team_info}}</h5>
                        <a href=""><span class="glyphicon glyphicon-edit"></span> Edit</a>
                        <a href=""><span class="glyphicon glyphicon-remove"></span> Delete</a>    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Leaders</h3>
                    <p><span class="glyphicon glyphicon-note"></span><b> Leaders</b> can create surveys and add other team members.</p>
                    <a href=""><span class="glyphicon glyphicon-plus"></span> Add a new member</a>
                    <ul class="profiles-row">
                        <li class="profile" *ngFor="let leader of team?.team_leaders">
                            <img class="img-circle img-leader" src="assets/images/profile.png" alt="" width="100px" height="100px">
                            <p><b>{{leader.name}}</b>
                            <br>@{{leader.username}}</p>
                        </li> 
                    </ul>      
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Members</h3>
                    <p><b>Members</b> can answer surveys.</p>
                    <a href=""><span class="glyphicon glyphicon-plus"></span> Add a new member</a>
                    <ul class="profiles-row">
                         <li class="profile" *ngFor="let member of team?.team_members">
                            <img class="img-circle img-member" src="assets/images/profile.png" alt="" width="100px" height="100px">
                            <p><b>{{member.name}}</b>
                            <br>@{{member.username}}</p>
                        </li>  
                    </ul>      
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

