.user_image{
    object-fit: cover;
    height: 250px;
    width: 250px;
    background-position: 50% 50%;
    background-size: cover;
    margin-bottom: 10px; 
}

.image_container{
    float: left;
    margin: 20px;
}

.info_container{
    float: left;
    margin: 20px;
}

.info_container p,.info_container ul {
    color: #555555;
    list-style: square;
}

.title{
    margin-top: 10px;
    padding-top: 0;
}

.modal-body p{
    padding-top:0;
    margin-top: 0;
    color: red; 
}
.modal-body .form-group{
    padding-bottom:0;
    margin-bottom: 0;
}

.modal-body .row{
    margin-top:5px;
    margin-bottom: 5px; 
}

.up-image{
    width: 100%;
    padding: 5px;
    border: 1px solid lightgrey;
}

.up-image img{
    width: 100%;
}