<div *ngIf="user">
  <div class="container-fluid fadeIn animated">
    <div class="panel panel-default">
        <div class="panel-body">
          <h4>Profile</h4>
          <div class="row">
              <div class="image_container">
                  <img class="user_image" src="{{user.image}}" alt="">
                  <p><a href="#" data-toggle="modal" data-target="#changepic">Change my profile picture</a></p>
              </div>            
              <div class="info_container">
                  <h2 class="title">{{user?.name}}<br> <small>@{{user?.username}}</small></h2>
                  <p><span class="glyphicon glyphicon-envelope"></span> {{user?.email}}
                  <br>
                  <a href="#" data-toggle="modal" data-target="#changepass" >Change my password</a>
                  </p>
                  
                  <br>
                  <div class="teams?.length==-1">
                    <p>
                      You dont belong to any team at the moment.
                      click <a [routerLink]="['../teams']">here</a> create one.
                    </p>
                  </div>
                  <div *ngIf="teams?.length>0">
                    <p><i class="fa fa-users" aria-hidden="true"></i> User Belongs to the following team(s)</p>
                      <ul>
                        <li *ngFor="let team of teams">
                          {{team.team?.team_name}} as <span *ngIf="team.leader">(leader)</span> <span *ngIf="!team.leader">(Member)</span>
                        </li>
                      </ul>
                  </div>
              </div>
                  
          </div>
        </div>
    </div>
  </div>

  
  <div class="modal fade" id="changepass">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            <button id="closechangepass" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Change my password</h4>
            <br>
            <h5>Please fill in the following fields.</h5>
            <br>
            <div class="form-group">
              <label for="oldpass">Old password</label>
              <input [(ngModel)]="oldpass" type="password" class="form-control" id="oldpass" placeholder="...">
            </div>
            <p>{{msg1}}</p>
            <br>
            <div class="form-group">
              <label for="newpass">New password</label>
              <input [(ngModel)]="newpass" type="password" class="form-control" id="newpass" placeholder="...">
            </div>
            <p>{{msg2}}</p>
            <br>
            <div class="form-group">
              <label for="newpassc">Confirm new password</label>
              <input [(ngModel)]="newpassc" (focusout)="comparePass()" type="password" class="form-control" id="newpassc" placeholder="...">
            </div>
            <p>{{msg3}}</p>
            <br>
            
            <button (click)="changePass()" type="button" class="btn btn-invrese">Change</button>
            
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="changepic">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button id="closechangepic" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Profile image</h4>
            <br>

            <div class="row" [ngClass]="{'show':image.loaded,'hidden':!image.loaded }">
              <div class="col-md-6">
                  <div class="up-image">
                    <img id="up-image" src="{{image.url}}" (load)="loadImage()" alt="Image">
                  </div>
              </div>
              <div class="col-md-6">
                <h5>Uploaded via {{image.source}}</h5>
                <h6>name {{image.name}}</h6>
                <h6>size {{image.size}}</h6>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                    <label for="upload"><i class="fa fa-folder"></i> browse</label>
                    <input id="upload"  (change)="fileChange($event)" class="form-control" type="file" name="image" value="" accept=".png,.png,.jpeg">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="Choose a file">URL</label>
                    <input class="form-control" (input)="urlChange($event)"  placeholder="URL here" type="text" name="imageUrl" value="" >
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <button (click)="saveImage()" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i> Save</button>
              </div>
            </div>

      </div>
    </div>
  </div>




