.user_image{
    height: 150px;
    width: 150px;
    object-fit: cover;
    background-position: 50% 50%;
    background-size: cover;
    margin-bottom: 10px;
    border-radius: 5px;
    border-top-width:5px;
    border-color: skyblue;
    border-style: solid; 
}

.image_container{
    float: left;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}

.info_container{
    float: left;
    padding-left: 10px;
    width: 100%;
}
.info_container > h2 {
    text-align: center;
    width: 100%;
}

.info_container p,.info_container ul {
    color: #555555;
    list-style: square;
}

.title{
    margin-top: 10px;
    padding-top: 0;
}

.modal-body p{
    padding-top:0;
    margin-top: 0;
    color: red; 
}
.modal-body .form-group{
    padding-bottom:0;
    margin-bottom: 0;
}

.modal-body .row{
    margin-top:5px;
    margin-bottom: 5px; 
}

.up-image{
    width: 100%;
    padding: 5px;
    border: 1px solid lightgrey;
}

.up-image img{
    width: 100%;
}

.browse label{
    width: 100%;
    color: white;
    background: #48b6e0;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 2px;
    margin-bottom: 10px;
    margin-top: 23px;
}

.browse input{
    display: none;
}



@media(min-width:768px) {
    .image_container{
        width: auto;
        padding-left: 20px; 
    }
    .user_image{
        height: 250px;
        width: 250px;
    }
    .info_container{
        padding-left: 50px;
        width: auto;
    }
    .info_container > h2 {
        text-align: left;
        width: auto;
}

}