<div class="container-fluid">
  
  <div class="row">

      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="panel panel-default">
          <div class="panel-body">
            
            <h3>Active surveys</h3>
            <br>
            <p>People who submitted this survey</p><div class="percentage">(70%: 70 out of 100)</div>
            
            <div class="profiles-row">
              <div class="profile">
                <img width="50px" height="50px" src="https://s3.amazonaws.com/whisperinvest-images/default.png" alt="pic">
              </div>
              <div class="profile">
                <img width="50px" height="50px" src="https://s3.amazonaws.com/whisperinvest-images/default.png" alt="pic">
              </div>
              <div class="profile">
                <img width="50px" height="50px" src="https://s3.amazonaws.com/whisperinvest-images/default.png" alt="pic">
              </div>
              <div class="profile">
                <img width="50px" height="50px" src="https://s3.amazonaws.com/whisperinvest-images/default.png" alt="pic">
              </div>

              <div class="profile">
                <img width="50px" height="50px" src="https://s3.amazonaws.com/whisperinvest-images/default.png" alt="pic">
              </div>

              <div class="profile">
                <img width="50px" height="50px" src="https://s3.amazonaws.com/whisperinvest-images/default.png" alt="pic">
              </div>

              <div class="profile">
                <img width="50px" height="50px" src="https://s3.amazonaws.com/whisperinvest-images/default.png" alt="pic">
              </div>

              <div class="profile">
                <img width="50px" height="50px" src="https://s3.amazonaws.com/whisperinvest-images/default.png" alt="pic">
              </div>

              <div class="profile">
                <img width="50px" height="50px" src="https://s3.amazonaws.com/whisperinvest-images/default.png" alt="pic">
              </div>

              <div class="profile">
                <img width="50px" height="50px" src="https://s3.amazonaws.com/whisperinvest-images/default.png" alt="pic">
              </div>

              <div class="profile">
                <img width="50px" height="50px" src="https://s3.amazonaws.com/whisperinvest-images/default.png" alt="pic">
              </div>

              <div class="profile">
                <img width="50px" height="50px" src="https://s3.amazonaws.com/whisperinvest-images/default.png" alt="pic">
              </div>
            </div>

            <button type="button" class="btn btn-default btn-block">Preview</button>         

          </div>
          
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>Upcoming surveys</h3>
            <br>
            <div class="alert alert-warning">
              <p>No Survey have been created for Tomorrow( 24/7/2017 )</p>  
            </div>
            <p>Click on the button bellow to create one.</p>
            <button type="button" class="btn btn-default btn-block">Create</button>         
          </div>
        </div>
      </div>
  </div>
</div>