.profiles-row{
    overflow-x: scroll;
    white-space: nowrap;
    margin-top: 10px;
    margin-bottom: 10px;

}
.profile{
    display: inline-block ;  
}

.profiles-row::-webkit-scrollbar-track
{
	border-radius: 0;
	background-color: white;
}

.profiles-row::-webkit-scrollbar
{
    height: 3px;
	width: 2px;
	background-color: white;
}

.profiles-row::-webkit-scrollbar-thumb
{
	border-radius: 0px;
	background-color: #AAA;
}

.welcome{
    background-color: #EEEEEE;
    color: #555555;
}

.row1{
    min-height: 100px;
}

.row2{
    min-height: 300px;
}

.row3{
    min-height: 250px;
}

.box > p{
    color: grey; 
}

.box > h4{
    margin-bottom: 5px;
}

.big_number{
    color: lightgreen;
    text-align: center;
}

.percentage{
    color: grey;
}