<div class="container-fluid fadeIn animated">
  
  <div class="row">
      <div class="col-xs-6 col-md-3">
        <div class="panel panel-default">
          <div class="panel-body box b1">
            <h4>Activity</h4>
            <p>people who've been active today</p>
            <div class="big_number">
              <h1 *ngIf="activemembers == null"></h1>
              <h1 *ngIf="activemembers" class="fadeInUp animated"><b>{{activemembers.length}} </b></h1>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="panel panel-default">
          <div class="panel-body box b2">
            <h4>Active Surveys</h4>
            <p>Number of surveys open now</p>
            <div class="big_number">
              <h1 *ngIf="activesurveys == null"></h1>
              <h1 *ngIf="activesurveys" class="fadeInUp animated"><b>{{activesurveys?.length}} </b></h1>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="panel panel-default">
          <div class="panel-body box b3">
            <h4>Upcoming Surveys</h4>
            <p>Number of chat rooms active</p>
            <div class="big_number">
               <h1 *ngIf="upcomingsurveys == null"></h1>
              <h1 *ngIf="upcomingsurveys" class="fadeInUp animated"><b>{{upcomingsurveys?.length}} </b></h1>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="panel panel-default">
          <div class="panel-body box b4">
             <h4>Rooms</h4>
            <p>Number of chat rooms active</p>
            <div class="big_number">
               <h1><b>44</b></h1>
            </div>
          </div>
        </div>
      </div>
  </div>
  
  <div class="row">
    <!-- Second row -->
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body box row2">
             <h4>Statistics</h4>
            <p>Number of chat rooms active</p>

            
              <app-chart-conn-tod [user]="user" [list]="datasets1"></app-chart-conn-tod>
            

          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="panel panel-default">
          <div class="panel-body box row2">
             <h4>Pie chart</h4>
            <p>Number of chat rooms active</p>
            <div style="display: block;">
             <div style="display: block">
              
            </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="panel panel-default">
          <div class="panel-body box row2">
             <h4>Pie chart</h4>
            <p>Number of chat rooms active</p>
            <div style="display: block;">
             <div style="display: block">
              
            </div>
            </div>
          </div>
        </div>
      </div>

  </div>
  

  <div class="row">

      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="panel panel-default">
          <div class="panel-body row3">
            
            <app-active-surveys [activesurveys]="activesurveys"></app-active-surveys>
          
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="panel panel-default">
          <div class="panel-body row3">
            
            <app-upcoming-surveys [upcomingsurveys]="upcomingsurveys"></app-upcoming-surveys>

          </div>
        </div>
      </div>
  </div>
</div>