html{
    height: 100%;
}

body{
    min-height: 100%;
    font-size: 13px;
    background-color: #fbfbfb;
}

.page-body{
    margin-top:44px ;
    padding-top: 10px;    
}

img{
    object-fit: cover;
    background-position: 50% 50%;
    background-size: cover;
}