<!-- Sidebar -->

<div id="sidebar-wrapper" class="slideInLeft animated" >
    <ul class="sidebar-nav">
        <br>
        <div class="sidebar-profile">
            
            <img class="sidebar-profile-pic" src="assets/images/profile.png" alt="">
            
            <div class="sidebar-profile-info">
                {{user?.name}}
                <br>
                <span>@{{user?.username}}</span>
            </div>
        </div>
        <li class="nav-option" [routerLinkActive]="['sidebar-active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/dashboard/overview']"><span class="fa fa-pie-chart"></span> Overview</a>
        </li>
        <li class="nav-option" [routerLinkActive]="['sidebar-active']" [routerLinkActiveOptions]="{exact:true}">

            <a data-toggle="collapse" data-target="#submenu1"><span class="fa fa-clipboard"></span> Surveys
                <div align="right" style="float:right;">
                    <span class="arrow fa fa-chevron-down"></span>    
                </div>
            </a>
        </li>
        <li class="collapse submenu" id="submenu1">
            <ul>
                <li [routerLinkActive]="['sidebar-active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/dashboard/survey/take']"> Take survey</a>
                </li>
                <li [routerLinkActive]="['sidebar-active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/dashboard/survey/create']"> Create survey</a>
                </li>
                <li [routerLinkActive]="['sidebar-active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/dashboard/survey/history']"> View surveys history</a>
                </li>
            </ul>
        </li>
        <li class="nav-option" [routerLinkActive]="['sidebar-active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/dashboard/teams']"><span class="fa fa-group"></span> Teams</a>
        </li>
        <li class="nav-option" [routerLinkActive]="['sidebar-active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/dashboard/messages']"><span class="fa fa-paper-plane"></span> Messages</a>
        </li>
        <!--
        <li class="nav-option" [routerLinkActive]="['sidebar-active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/dashboard/statistics']"><span class="fa fa-line-chart"></span> Stats</a>
        </li>
        -->
        <li class="nav-option" [routerLinkActive]="['sidebar-active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/dashboard/dropbox']"><span class="fa fa-dropbox"></span> Dropbox</a>
        </li>
        <li class="nav-option" [routerLinkActive]="['sidebar-active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/dashboard/profile']"><span class="fa fa-user"></span> Profile</a>
        </li>
    </ul>
</div>
