<!-- Sidebar -->

<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <br>
        <div class="sidebar-profile">
            <div class="sidebar-profile-pic">
            </div>
            <div class="sidebar-profile-info">
                {{user?.name}}
                <br>
                <span>@{{user?.username}}</span>
            </div>
        </div>
        <li class="nav-option" [routerLinkActive]="['sidebar-active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/dashboard/overview']"><span class="glyphicon glyphicon-eye-open"></span> OVERVIEW</a>
        </li>
        <li class="nav-option" [routerLinkActive]="['sidebar-active']" [routerLinkActiveOptions]="{exact:true}">

            <a data-toggle="collapse" data-target="#submenu1"><span class="glyphicon glyphicon-list-alt"></span> SURVEYS
                <div align="right" style="float:right;">
                    <span class="arrow glyphicon glyphicon-chevron-down"></span>    
                </div>
            </a>
        </li>
        <li class="collapse submenu" id="submenu1">
            <ul>
                <li [routerLinkActive]="['sidebar-active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/dashboard/survey/create']"> Create survey</a>
                </li>
                <li [routerLinkActive]="['sidebar-active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/dashboard/survey/history']"> View surveys history</a>
                </li>
            </ul>
        </li>
        <li class="nav-option" [routerLinkActive]="['sidebar-active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/dashboard/teams']"><span class="glyphicon glyphicon-briefcase"></span> TEAMS</a>
        </li>
        <li class="nav-option" [routerLinkActive]="['sidebar-active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/dashboard/messages']"><span class="glyphicon glyphicon-envelope"></span> MESSAGES</a>
        </li>
        <li class="nav-option" [routerLinkActive]="['sidebar-active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/dashboard/statistics']"><span class="glyphicon glyphicon-stats"></span> STATISTICS</a>
        </li>
        <li class="nav-option" [routerLinkActive]="['sidebar-active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/dashboard/profile']"><span class="glyphicon glyphicon-user"></span> PROFILE</a>
        </li>
    </ul>
</div>
