<div class="main fadeInUp animated">
 
  <div class="container c1">
    <div class="text-center">
      <h2><em>Review</em> <span>&#38;</span> <em>Enhance</em> your team's productivity</h2>
      <a class="gsbtn btn btn-default" href="">GET STARTED</a>
    </div>
  </div>
  
  <div class="container c2">
    <div class="text-center">
      <div class="row r1">
        <h2>Benefit from our services</h2>
        <div class="col-md-4">
          <i class="fa fa-podcast"></i>
          <h2>Stuff and things</h2>
          <p>Paragragh and lorem ipsum</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-paper-plane"></i>
          <h2>Stuff and things</h2>
          <p>Paragragh and lorem ipsum</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-cloud"></i>
          <h2>Stuff and things</h2>
          <p>Paragragh and lorem ipsum</p>
        </div>
      </div>
    </div>
  </div>

  <div class="c3 c1">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h3>Build from scratch with industry leading <b>Tech</b> </h3>
        </div>
      </div>
    </div>
  </div>

</div>