<div class="container-fluid fadeIn animated">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Created surveys</h3>
                    <p >You <b>cannot edit</b> any submitted survey. but you can <b>always delete</b> them.</p>
                    
                    <div class="container-fluid">
                        <div class="row">
                            <button type="button" class="pull-right btn btn-sm btn-default"><span class="fa fa-th"></span></button>
                            <button type="button" class="pull-right btn btn-sm btn-default"><span class="fa fa-ellipsis-h"></span> </button>
                            
                            <div class="pull-right dropdown">
                                <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Sort <span class="fa fa-angle-down"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" href="#">Recently created</a></li>
                                    <li><a class="dropdown-item" href="#">Oldest created</a></li>
                                </ul>
                            </div>

                            <div class="pull-right dropdown">
                                <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Filter <span class="fa fa-angle-down"></span>
                                </button>
                                 <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" href="#">None</a></li>
                                    <li><a class="dropdown-item" href="#">Active</a></li>
                                    <li><a class="dropdown-item" href="#">Inavtive</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <br>
                    
                    
                    <ul class="surveyslist fadeIn animated" *ngIf="surveys">
                        <li *ngFor="let survey of surveys; let i = index" class="{{survey?.activeclass}}">
                            <div>
                                <h4>{{survey?.name}}</h4>
                                <h5>{{survey?.subject}}</h5>
                                <div class="bottom">
                                    <div class="lifespan">
                                        <div class="date"><div>Begin</div>: {{survey.begindate}}</div>
                                        <div class="date"><div>End</div>: {{survey.enddate}}</div>
                                        <a href=""><span class="fa fa-clock-o"></span> Expand</a>
                                    </div>
                                    <a data-toggle="modal" data-target="#myModalv" (click)="selectSurvey($event,i)" href="">Answers</a>
                                    <a data-toggle="modal" data-target="#myModal" (click)="selectSurvey($event,i)" href="">Preview</a> 
                                    <a data-toggle="modal" data-target="#myDeleteModal" (click)="deleteSurvey($event,i)" href="">Delete</a>
                                </div>
                            </div>
                        </li>
                    </ul>        
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
        <div class="row">
            <div class="col-md-12">
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button type="button" class="close modalclose" data-dismiss="modal">&times;</button>
                        <h4>Preview</h4>
                    </div>
                    <survey-display [json]="questions"></survey-display>
                </div>
            </div>
        </div>
  </div>
</div>

<div id="myModalv" class="modal fade" role="dialog">
  <div class="modal-dialog">
        <div class="row">
            <div class="col-md-12">
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button type="button" class="close modalclose" data-dismiss="modal">&times;</button>
                        <h4>Answers</h4>
                    </div>
                    <div class="panel-body">
                        <!--
                        <div class="input-group">
                            <span class="input-group-addon">User</span>
                            <select (change)="selectUserAnswer($event.target.value)" name="selectedUser" id="select_user" class="form-control" required="required">
                                <option value=""></option>
                                <option *ngFor="let sub of subs; let i = index" value="{{i}}">{{sub?.submitter_id?.name}} (@{{sub?.submitter_id?.username}}) </option>
                            </select>
                        </div>
                        -->
                        <br>

                        <div *ngIf="answers">
                            <div *ngFor="let a of answers, let i = index">
                                <h5><b>{{i+1}}. {{a.q}}</b></h5>
                                <p>Your answer: <br><span class="an">{{a.a}}</span> </p>
                                <br>
                            </div>   
                        </div>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Users</th>
                                    <th *ngFor="let q of qList">{{q}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of answersTable; let row = index">
                                    <td>{{subs[row]?.submitter_id?.name}}</td>
                                    <td *ngFor="let answer of user; let col = index">
                                    {{answer}}
                                    </td>  
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
  </div>
</div>

<!-- Modal delete Survey -->
<div class="modal fade" id="myDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Removing survey</h4>
            </div>            
            <!-- Modal Body -->
            <div class="modal-body">
                <form class="form-horizontal" role="form" > 
                <p style="text-align:center;"><img class="img-deleting" src="assets/images/deleting.png" alt="" width="100px" height="100px"> </p>    
                <h3 style='color:red; text-align:center'>Are you sure you want to delete team ?</h3>
                <h5 style='text-align:center'>It will not be part of your database anymore !</h5>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>   
                <button (click)="execDeleteSurvey($event)" type="button" class="btn btn-primary" data-dismiss="modal">Yes, definitely</button>                   
            </div>             
                </form>                     
            </div>
        </div>
    </div>
</div>